/*
* @Author: Administrator
* @Date:   2017-11-28 13:57:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-30 22:18:08
*/
/* 为了解决IE6的兼容问题 */
*{
	margin: 0;
	padding:0;
	font-family: "微软雅黑","宋体",sans-serif;
	font-size: 16px;
	list-style: none;
	font-style: normal;
}
body{
	background: #fff;
}
img{
	border: none;
}
/* 去掉a标签的下划线 */
a{
	text-decoration: none;
}
/* a.text*10 建立十个a标签*/